 .list{
  width: 70%;
}

.user{
  height: 10%;
  cursor: pointer;
  background-color: #16142c;
  display: flex;
  text-align: center;
  align-items: center;
  width: 150%;
  padding: 10px;
  padding-top:17px;
  padding-left: 20px;
  margin-top: 10px;
  border-radius: 10px;
}

.statusContainer{
  margin-right: 10px;
}



