<div class="messageContainer" [ngClass]="{'isOwnMessageContainer': isOwnMessage()}">
   <div class="messageData">
     <span class="sender"  [ngClass]="{'isOwnSender': isOwnMessage()}" >
       {{chatMessage.userName}}
     </span>
     <span class="timestamp" [ngClass]="{'isOwnTimestamp': isOwnMessage()}">
       {{chatMessage.timeSent | date:'medium' }}
     </span>
   </div>
   <div class="messageContent" [ngClass]="{'isOwnMessageContent': isOwnMessage()}">
     {{chatMessage.message}}
   </div>
</div>
